@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Zen Maru Gothic', sans-serif;
    @apply bg-[#fdf6f0];
  }
}

/* Custom Utilities */
.animate-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slideInBottom {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 0.2s ease-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}